@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
}
@media (max-width: 320px) {
  .header {
    background-color: #ffffff;
    height: 64px;
    width: 100%;
  }
  .header__burger {
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .header__burger::before {
    position: absolute;
    content: "";
    background-color: #000000;
    opacity: 0.15;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
  }
  .header .action-button {
    display: none;
  }
}

.action-button {
  background-color: #3040c4;
  width: 160px;
  height: 48px;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-family: "Work Sans";
  cursor: pointer;
}

.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}
.navigation__arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 11px;
  display: none;
}
.navigation__item {
  line-height: 25px;
  font-size: 18px;
  color: #2b292d;
  text-decoration: none;
  margin-right: 50px;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0;
}
@media (max-width: 320px) {
  .navigation {
    display: none;
  }
}

.logo {
  display: flex;
}
.logo__image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  opacity: 0.6;
}
@media (max-width: 320px) {
  .logo__image {
    width: 48px;
    height: 48px;
    margin: 8px 13px 8px 15px;
    margin-right: 13px;
    border-radius: 8px;
  }
  .logo__description {
    display: none;
  }
}

.top-section {
  background-color: #f3c6bd;
  padding-top: 39px;
}
@media (max-width: 320px) {
  .top-section {
    padding-top: 0;
  }
}

.headline {
  position: relative;
  width: 1140px;
  margin: auto;
  margin-top: 84px;
}
.headline__learn-more-btn {
  color: #3040c4;
}
.headline__description {
  margin-top: 34px;
  height: 102px;
  width: 456px;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  z-index: 1;
  position: relative;
}
.headline__title {
  color: #2b292d;
  font-weight: 700;
  font-size: 80px;
  line-height: 78px;
  width: 754px;
  height: 165px;
  letter-spacing: -0.5px;
  z-index: 1;
  position: relative;
  margin: 0;
}
.headline__bunner {
  position: absolute;
  right: -105px;
  top: 5px;
  width: 796px;
  height: 448px;
}
.headline__actions {
  margin-top: 58px;
  margin-bottom: 128px;
  display: flex;
}
.headline__learn-more-btn {
  margin-left: 10px;
  width: 158px;
  height: 48px;
  font-size: 18px;
  color: #3040c4;
  border: none;
  font-weight: 700;
  font-family: "Work Sans";
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
@media (max-width: 320px) {
  .headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding-bottom: 35px;
  }
  .headline__title {
    color: #2b292d;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    width: 290px;
    height: 205px;
    letter-spacing: -0.3125px;
    margin: auto;
  }
  .headline__description {
    height: 172px;
    width: 290px;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
    margin: auto;
    margin-top: 24px;
  }
  .headline__actions {
    width: 290px;
    margin: 30px auto 33px;
    display: block;
  }
  .headline__actions .action-button {
    width: 100%;
    height: 48px;
  }
  .headline__actions .headline__learn-more-btn {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }
  .headline__bunner {
    position: static;
    width: 320px;
    height: 180px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.audience {
  background-color: rgba(0, 161, 198, 0.07);
  padding-top: 108px;
  padding-bottom: 110px;
  color: #2b292d;
}
.audience__content-wrapper {
  width: 555px;
  margin: auto;
  text-align: center;
}
.audience__sup-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.audience__title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.audience__suggest {
  margin-top: 30px;
  font-size: 24px;
  line-height: 34px;
}
.audience__actions {
  margin-top: 34px;
}
.audience__cards-wrapper {
  display: flex;
  width: fit-content;
  margin: 111px auto 0;
}
.audience__cards-wrapper_card {
  cursor: pointer;
  margin-left: 30px;
  padding-top: 22px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #2b292d;
  width: 262px;
  height: 300px;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.audience__cards-wrapper_card:first-child {
  margin-left: 0;
}
.audience__cards-wrapper_card:hover {
  background-color: #3141c5;
  color: #ffffff;
}
.audience__cards-wrapper_card-title {
  margin-top: 22px;
}
@media (max-width: 320px) {
  .audience {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .audience__content-wrapper {
    width: 290px;
    margin: auto;
  }
  .audience__title {
    margin-top: 17px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }
  .audience__suggest {
    margin-top: 18px;
  }
  .audience__actions {
    width: 100%;
    margin-top: 30px;
  }
  .audience__actions .action-button {
    width: 100%;
  }
  .audience__actions .headline__learn-more-btn {
    width: 100%;
    margin-top: 12px;
    margin-left: 0;
  }
  .audience__cards-wrapper {
    width: 290px;
    display: block;
    margin: 40px auto 0;
  }
  .audience__cards-wrapper_card {
    width: 100%;
    margin: 15px auto;
  }
}

.order {
  display: flex;
  height: 441px;
  background-color: #f4f5f7;
}
.order__inner_box {
  width: 954px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.order__main-img-box {
  width: 269px;
  height: 296px;
}
.order__main-img-box .order_main_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.order__content-box {
  width: 555px;
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: #2b292d;
}
.order__desc {
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
  margin: 12px 0 26px 0;
}
.order__input {
  width: 385px;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  padding: 17px 0 18px 15px;
}
.order__policy-terms {
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0;
  color: rgba(43, 41, 45, 0.6);
}
@media (max-width: 320px) {
  .order {
    width: 320px;
    height: fit-content;
  }
  .order__inner_box {
    width: 290px;
    display: block;
    height: fit-content;
  }
  .order__main-img-box {
    width: 200px;
    height: 220px;
    margin: 50px auto 40px;
  }
  .order__content-box {
    width: 100%;
  }
  .order__title {
    text-align: center;
    margin: 0;
  }
  .order__desc {
    margin: 18px 0;
    height: 167px;
  }
  .order__form .action-button {
    width: 100%;
    margin-top: 12px;
  }
  .order__input {
    width: 100%;
  }
  .order__policy-terms {
    padding-bottom: 50px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__description {
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
  opacity: 0.6;
}
.footer__downloads {
  margin-top: 25px;
}
.footer__downloads_item {
  margin-right: 10px;
}
@media (max-width: 320px) {
  .footer {
    width: 320px;
    height: max-content;
    display: block;
  }
  .footer .logo {
    display: block;
  }
  .footer .logo__image {
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .footer .logo__text {
    margin-top: 20px;
  }
  .footer .logo__description {
    display: block;
  }
  .footer__description {
    display: none;
  }
}

.about-company {
  margin-top: 44px;
}
@media (max-width: 320px) {
  .about-company {
    width: 320px;
    margin-top: 40px;
    text-align: center;
  }
}

.additional-navigation {
  margin-top: 60px;
  margin-left: auto;
  display: flex;
}
.additional-navigation__column {
  margin-right: 29px;
}
@media (max-width: 320px) {
  .additional-navigation {
    position: relative;
    width: 320px;
    margin-top: 71px;
    display: block;
  }
  .additional-navigation::before {
    position: absolute;
    content: "";
    top: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
  }
  .additional-navigation .nav-links {
    width: 290px;
    margin: auto;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}
.nav-links__list {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  opacity: 0.6;
  margin-top: 18px;
}
.footer__line {
  border-top: 1px solid #2b292d;
  margin: 0;
  width: 100%;
  opacity: 0.1;
}
@media (max-width: 320px) {
  .footer__line {
    display: none;
  }
}

.footer-navigation {
  margin: 0 auto;
  width: 1140px;
  height: 338px;
  display: flex;
}
@media (max-width: 320px) {
  .footer-navigation {
    width: 320px;
    display: block;
    height: fit-content;
  }
}

.footer-links {
  height: 50px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 320px) {
  .footer-links {
    width: 320px;
    height: fit-content;
    display: block;
  }
}

.terms__item {
  line-height: 50px;
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  opacity: 0.6;
  font-size: 14px;
  margin-right: 22px;
}
@media (max-width: 320px) {
  .terms {
    width: 290px;
    margin: auto;
  }
}

.social-links {
  margin-left: auto;
}
.social-links__item {
  text-decoration: none;
  margin-left: 20px;
}
@media (max-width: 320px) {
  .social-links {
    width: 290px;
    margin: auto;
  }
  .social-links__item {
    margin-left: 0;
  }
  .social-links__item:nth-child(1), .social-links__item:nth-child(2) {
    margin-right: 20px;
  }
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.page {
  width: 1400px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 320px) {
  .page {
    width: 100%;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
